@import '../fonts/pp/fonts';
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap');
body {
    font-weight: 400;
    color: $text;
    font-family: 'Kodchasan', sans-serif;
    background: $body-bg;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PP Gosha Sans", sans-serif;
    font-weight: 700;
    margin: 0 0 10px;
}

p {
    margin: 0;
    @include font-18;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    @include transition;
}

input,
textarea,
button {
    border: none;
    outline: none;
    @include transition;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

nav ul li {
    display: inline-block;
    position: relative;
    @include transition;
}


/*Hide number spin button*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.primary-btn {
    padding: 16px 40px;
    background: $secondary;
    background: $btn-bg;
    border-radius: 10px;
    color: $white;
    @include font-20;
    font-family: "PP Gosha Sans", sans-serif;
    &:hover {
        --size: 0%;
    }
    &-light {
        border-radius: 10px;
        color: $white;
        @include font-20;
        font-family: "PP Gosha Sans", sans-serif;
        border: 1px solid transparent;
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-image: linear-gradient(#441618, #46261a), $mainBg;
        & span {
            display: flex;
            gap: 8px;
            align-items: center;
            padding: 16px 38px;
        }
    }
}

.show {
    &::after {
        transform: rotate(180deg);
    }
}

.section {
    &-padding {
        --padding-y: 160px;
        padding: var(--padding-y) 0;
        @include xl {
            --padding-y: 120px;
        }
        @include md {
            --padding-y: 80px;
        }
    }
    &-title {
        margin-bottom: 60px;
        @include sm {
            margin-bottom: 44px;
        }
        & h2 {
            @include font-60;
            margin-bottom: 0;
            background: $mainBg;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.fs {
    &-16 {
        font-size: 16px !important;
    }
}