$white:#fff;
$black:#000;
$body-bg:#0F1520;
$primary: #EE2C1B;
$secondary: #F36E23;
$text:rgba(255, 255, 255, 0.8);
$border:gray;
$mainBg:var(--liner, linear-gradient(90deg, $primary 0.01%, $secondary 99.99%));