.container {
    @media only screen and (min-width: 1700px) {
        max-width: 1644px;
    }
}

.progress,
.progress-stacked {
    --bs-progress-bar-bg: #FE7024;
    --bs-progress-bg: rgba(255, 255, 255, .2);
    --bs-progress-height: 10px;
    --bs-progress-border-radius: 100px;
}

// .bg {
//     &-transparent {
//         background: none !important;
//     }
// }