/* Header & footer CSS */

.heading,
.footer {
    --padding: 40px;
    padding: var(--padding) 0;
    @include lgs {
        --padding: 30px;
    }
    @include mds {
        --padding: 24px;
    }
    @include sm {
        --padding: 20px;
    }
    &-inner {
        background-color: #0C0F17 !important;
        color: $white;
        --padding-y: 32px;
        --padding-x: 40px;
        padding: var(--padding-y) var(--padding-x);
        border-radius: 20px;
        @include lgs {
            --padding-y: 24px;
            --padding-x: 30px;
        }
        @include mds {
            --padding-y: 20px;
            --padding-x: 20px;
            border-radius: 14px;
        }
        @include sm {
            --padding-y: 1rem;
            --padding-x: 1rem;
            border-radius: 10px;
        }
    }
}

.heading {
    & .social {
        &-link {
            @include md {
                flex-direction: row;
                justify-content: center
            }
        }
    }
    &-link {
        @include font-32;
        font-family: "PP Gosha Sans", sans-serif;
        color: #FD311B !important;
        margin-top: -5px;
        @include mds {
            font-size: 28px;
        }
        @include sm {
            font-size: 24px;
        }
        &:hover {
            color: $primary !important;
        }
    }
    & .navbar {
        &-toggler {
            background-color: $primary;
            padding: 6px 8px;
            @include ssm {
                padding: 4px 6px;
            }
            &-icon {
                filter: brightness(0) invert(1);
            }
        }
        &-collapse {
            @include md {
                text-align: center;
            }
        }
    }
}

.wallet {
    &-modal {
        --bs-modal-width: 520px;
        background: rgba(217, 217, 217, 0.01);
        backdrop-filter: blur(110px);
        .modal {
            &-body {
                padding: 40px 30px;
                padding-top: 4px;
            }
            &-header {
                padding: 24px 30px;
            }
        }
        & .items {
            --grid-count: 2;
            grid-template-columns: repeat(var(--grid-count), minmax(0, 1fr));
            @include ssm {
                --grid-count: 1;
            }
            & li {
                border-radius: 10px;
                padding: 13px 14px;
                font-size: 17px;
                line-height: calc(20px/17px);
                color: $white;
                cursor: pointer;
                border: 1px solid rgba(238, 44, 27, 0.10);
                background: linear-gradient(90deg, rgba(238, 44, 27, 0.05) 0.01%, rgba(243, 110, 35, 0.05) 99.99%);
                &:hover {
                    border: 1px solid rgba($color: $secondary, $alpha: .4);
                    background: linear-gradient(90deg, rgba(238, 44, 27, 0.25) 0.01%, rgba(243, 110, 35, 0.25) 99.99%);
                }
                @include sm {
                    padding: 10px 14px;
                    font-size: 14px;
                }
                & img {
                    --width: 30px;
                    width: var(--width);
                    height: var(--width);
                    object-fit: contain;
                }
            }
        }
    }
}


/* Header CSS */

// social links
.social {
    &-link {
        & a {
            @include font-20;
            color: $white;
            font-family: "PP Gosha Sans", sans-serif;
            font-weight: 400;
            // &:hover {
            //     color: $primary;
            // }
        }
        & a:not(.not-icon) {
            --width: 48px;
            width: var(--width);
            height: var(--width);
            border-radius: 100%;
            overflow: hidden;
            flex: 0 0 auto;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_b_1_176)'%3e%3ccircle cx='24.1892' cy='24.1892' r='24.1892' fill='%23F95C23' fill-opacity='0.05'/%3e%3ccircle cx='24.1892' cy='24.1892' r='23.769' stroke='url(%23paint0_linear_1_176)' stroke-opacity='0.6' stroke-width='0.840376'/%3e%3c/g%3e%3cdefs%3e%3cfilter id='filter0_b_1_176' x='-20.169' y='-20.169' width='88.7164' height='88.7164' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeGaussianBlur in='BackgroundImageFix' stdDeviation='10.0845'/%3e%3cfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_1_176'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_1_176' result='shape'/%3e%3c/filter%3e%3clinearGradient id='paint0_linear_1_176' x1='13.3506' y1='2.54623' x2='32.0961' y2='44.8769' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23F95C23'/%3e%3cstop offset='1' stop-color='%230F1520'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
            background-repeat: no-repeat;
            background-size: cover;
            &:hover {
                --bs-text-opacity: .5;
            }
        }
    }
}

.text-primary {
    color: $primary !important;
}