@font-face {
    font-family: 'PP Gosha Sans';
    src: url(../fonts/pp/regular.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'PP Gosha Sans';
    src: url(../fonts/pp/bold.woff2) format('woff2');
    font-style: normal;
    font-weight: 700;
}